/*
  CREATING MOBILE DECORATION 
*/
@media only screen and (max-width: 385px) and (max-height: 696px){
	body {}
	#btn_all {
		margin-bottom: 25%;
	}
	#btn_all ul {
		margin-left: 7.5%;
		list-style: none;
	}
	#btn_all .btn0, .btn1, .btn2, .btn3, .btn4, .btn5 {
		padding: 12px;
	}
	#btn_all .btn0 a {
	    padding-right: 31px;
	    padding-left: 35px;
	}
	#btn_all .btn1 a {
		padding-right: 19.5px;
		padding-left : 20px;
	}
	#btn_all .btn2 a {
		padding-right: 29px;
		padding-left: 25px;
	}
	#btn_all .btn3 a {
		padding-right: 46.5px;
		padding-left : 46px;
	}
	#btn_all .btn4 a {
		padding-right: 38.5px;
		padding-left : 43px;
	}
	#btn_all .btn5 a {
	  padding-right: 18px;
	  padding-left : 18px;
	}

}/* @media fin */


/* #####################################################################  */
body {
	text-align: center;
	background-image: url("../../Amazon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#titr-h1 {
	font-size: 70px;
	font-style: bold;
	text-shadow: 0.5px 0.7px 1px red;
	background-color: black;
	color: red;
	text-shadow: 1px 1.5px 2px yellow;
	text-align: center;
	animation  : color 2s infinite;
	height: 50%;
}
img{
	width: 230px; height: 230px;
	border: solid 3px;
	border-color: yellow;
	border-radius: 100%;
}
@keyframes color {
	10%  { color: blue; }
	20%  { color: red; }
	30%  { color: yellow; }
	40%  { color: beige; }
	50% { color: cyan; }
	60%  { color: cornflowerblue; }
	70% { color: teal; }
	80% { color: magenta; }
	90%  { color: slategray; }
	100% { color: firebrick; }
}
#btn_all {
	margin: auto;
	list-style: none;
}
#btn_all ul {
	margin-left: 18%;
}
#btn_all ul li {
	float: left;
	padding: 10px;
	margin: 2px;
	overflow: hidden;
	border: solid 1px red;
	background-color: yel;
	animation  : background-color 10s infinite;
	height: 50%;
}
@keyframes background-color {
	30%  { background-color: beige; }
	30%  { background-color: red; }
	40%  { background-color: yellow; }
}
#btn_all ul li a{
	font-size: 30px;
	color: black;
	text-align: center;
	padding: 2px;
	text-decoration: none;
	text-shadow: 1px 1.1px 1.3px yellow;
}
#btn_all ul li:hover{
	background-color: black;
	animation  : none;
}
#btn_all ul li:hover > a{
	color: white;
}
.b0 {
	font-size: 50px;
	text-shadow: 1px 2px 1px white;
	color: red;
	text-align: center;
}


/*  ################################################################## */
table {
	margin-left: 26.5%;
}
table, tr, th, td {
  border: solid 3px;
  border-color: red;
}
th {
	font-size: 30px;
	padding: 10px;
	color    : yellow;
	text-shadow: 0.9px 1px 0.9px red;
}
td {
	padding: 10px;
	font-size: 25px;
	color: black;
	background-color: lightsteelblue;
	text-shadow: 0.9px 1.5px 0.9px white;
}
.th1 {
	background-color: black;
	color: red;
}
.frei {
	background-color: cyan;
}
.krank {
	background-color: teal;
}
.EU-OK {
	background-color: red;
}